body {
  font-family: "Lato";
  block-size: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(17, 17, 17);
}

.nap-top {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 0.6rem 0.8rem;
  border-radius: 0.8rem;
}

.search-container input:focus {
  outline: none;
  border: none;
}

.logo {
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #ffffff00;
  border: none;
}

.limited-offer {
  text-decoration: underline solid red 2px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.4rem;
  align-items: center;
  padding: 0.5rem 1rem;
  padding: 0.8rem;
}

button {
  color: white;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  padding: 0.4rem;
}

button:hover {
  color: rgb(201, 201, 201);
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #b80909;
}

/* Hero Seciton */
.slider {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-color: #ebebeb;
  z-index: -1;
}

.slider-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  z-index: 1;
}

.slider-item img {
  z-index: 2;
  position: relative;
}

.slider-item {
  z-index: 2;
}

.slider-text {
  position: absolute;
  top: 10%;
  right: 10%;
  font-weight: 800;
  text-align: center;
  white-space: pre-wrap;
  font-size: 2.5rem;
}

.slider-text h1 {
  text-align: center;
}

.slider-text p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
}

.buy-button {
}

.slider-bg {
  width: 50vw;
  height: 50vw;
  border-radius: 100%;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
}
