body {
  font-family: "Lato";
  block-size: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(17, 17, 17);
}

.nap-top {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 0.6rem 0.8rem;
  border-radius: 0.8rem;
}

.search-container input:focus {
  outline: none;
  border: none;
}

.logo {
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #ffffff00;
  border: none;
}

.search-icon {
}

.limited-offer {
  text-decoration: underline solid red 2px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.4rem;
  align-items: center;
  padding: 0.5rem 1rem;
  padding: 0.8rem;
}

button {
  color: white;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  padding: 0.4rem;
}

button:hover {
  color: rgb(201, 201, 201);
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #b80909;
}
