body {
  font-family: "Lato";
  block-size: border-box;
  margin: 0;
  padding: 0;
  margin: auto;
  max-width: 120rem;
}

nav {
  background-color: rgb(17, 17, 17);
}

.nap-top {
  padding: 40px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 0.6rem 0.8rem;
  border-radius: 0.8rem;
}

.search-container input:focus {
  outline: none;
  border: none;
}

.logo {
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #ffffff00;
  border: none;
}

.limited-offer {
  text-decoration: underline solid red 2px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.4rem;
  align-items: center;
  padding: 0.5rem 1rem;
  padding: 1.8rem;
}

button {
  color: white;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  padding: 0.4rem;
}

button:hover {
  color: rgb(201, 201, 201);
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #b80909;
}

/* Hero Seciton */
.slider {
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-color: #ff4747;
  background-image: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  width: 100vw;
  position: relative;
}

.slider-item p {
  font-size: 3.2rem;
  font-weight: 200;
  color: green;
  border: solid 1px green;
  padding: 0.4rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.slider-item h2 {
  font-size: 4.8rem;
  font-weight: 800;
  color: rgb(17, 17, 17);
  position: absolute;
  top: 2rem;
  right: 4rem;
  max-width: 30rem;
  text-align: center;
}

.slider-bg {
  position: absolute;
  width: 50rem;
  height: 50rem;
  border-radius: 100%;
  z-index: -1;
  background-color: #a5abff;
}

.buy-button {
  padding: 0.8rem;
  background-color: black;
  color: white;
  font-weight: 800;
  font-size: 1.8rem;
  position: absolute;
  bottom: 2rem;
}

/* Features */
.features-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.8rem;
  padding: 2rem;
}

.feature-icon {
  width: 40px;
  height: 40px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.2rem;
  width: 14rem;
}

.feature-title {
  padding: 0rem;
  margin: 0rem;
  font-size: 1.4rem;
}

.feature-description {
  text-align: center;
  color: #2e2e2e;
  padding: 0rem;
  margin: 0rem;
}
