@import "tailwindcss";

body {
  font-size: 0.625%;
}

:root {
  --text: #262b32;
  --white: #ffffff;
  --primary: #ffd300;
  --secondary: #757b81;

  --white-100: #e6e6e6;
  --white-200: #cccccc;
  --white-300: #bfbfbf;
  --white-400: #999999;
  --white-500: #737373;
  --white-600: #595959;

  --text-sm: 0.8rem;
  --text-lg: 1rem;
  --text-xl: 1.1rem;
  --text-2xl: 1.2rem;
  --text-3xl: 1.4rem;
  --text-4xl: 1.6rem;
  --text-5xl: 1.8rem;
  --text-6xl: 2.2rem;
  --text-7xl: 2.8rem;
  --text-8xl: 3.2rem;
  --text-9xl: 4.8rem;
}
