@import "tailwindcss";

:root {
  --text: #090c11;
  --white: #ffffff;
  --primary: #ffd300;
  --secondary: #757b81;

  --white-100: #e6e6e6;
  --white-200: #cccccc;
  --white-300: #bfbfbf;
  --white-400: #999999;
  --white-500: #737373;
  --white-600: #595959;
}
